{%extends 'layouts/layout.html'%}
{% block title %}Inicio{% endblock %}
{% block imagen %} <div id="background"><img src='static/images/background.png'/></div> {%endblock%}
{%block content%}

<!-- primera sección -->

<div class="intro">
    <h2>QUIEN <span class="color2">SOY</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper mi ut leo lacinia, ut dignissim sem semper. Pellentesque eu tincidunt eros. Phasellus porta nunc id tempus consectetur. Integer sed nisl urna. Cras et risus vestibulum, commodo felis vel, scelerisque ipsum. Proin hendrerit leo mauris, in venenatis ante rhoncus fringilla. Ut pretium ligula in ultrices iaculis. Suspendisse augue libero, luctus eu dictum et, suscipit vel libero.</p>
</div>

<!-- segunda sección -->


{% endblock %}